.container {
    width: 470px;
    height: 629px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(0deg, rgb(72, 0, 84), rgb(70, 0, 60));
}

.box {
    text-align: center;
}

.topbar {
    display: flex;
    justify-content: center;
    ;
    gap: 14px;
    padding-top: 40px;
}

.topbar input {
    display: flex;
    width: 312px;
    height: 52px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 26px;
    padding-left: 35px;
    color: rgb(32, 31, 31);
    font-size: 20px;
    font-weight: bold;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    background-color: whitesmoke;
    border-radius: 26px;
    cursor: pointer;
}

.weather-image {
    height: 160px;
    margin-top: 19px;
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.data-container {
    margin-top: 40px;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.icon{
    margin-top: 15px;
    transform: scale(1.11);
    padding-right: 10px;
}